<a href="https://colab.research.google.com/github/abdullah-al-jamil/Sentiment-Analysis/blob/main/sentiment_NB_(3_class).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
try: 
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf
keras = tf.keras

In [ ]:
import gensim, re
import numpy as np
import pandas as pd

In [ ]:
!wget https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/Sentiment.csv -P "/content/drive/My Drive/app"

--2021-01-11 12:46:07--  https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/Sentiment.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1235571 (1.2M) [text/plain]
Saving to: ‘/content/drive/My Drive/app/Sentiment.csv’

Sentiment.csv       100%[===================>]   1.18M  --.-KB/s    in 0.08s

2021-01-11 12:46:08 (14.9 MB/s) - ‘/content/drive/My Drive/app/Sentiment.csv’ saved [1235571/1235571]

In [ ]:
df = pd.read_csv('/content/drive/My Drive/app/Sentiment.csv', sep=';')
df.head(5)

     id                                      text  ...  lan       domain
0  2283            Your are very good. keep it up  ...   EN  funny_video
1  2286       চাকিপ ক্যানের মুবি রিব্যু বেচি বেচি  ...   BN  funny_video
2  2289  আপনি বাংলাদেশী এইটা সত্যি অবাক করার বিষয়  ...   BN  funny_video
3  2296                     নতুন নতুন সিমেনার চাই  ...   BN  funny_video
4  2300                Eto buddhi kibhabe shomvob  ...   RN  funny_video

[5 rows x 6 columns]

In [ ]:
df1 = df[df.lan=='BN']
len(df1)

2797

In [ ]:
df2 = df1.copy()
df2['score'] = np.where(df1['score']==2, 1,  df1['score'])


df3 = df2.copy()
df3['score'] = np.where(df2['score']==-2, -1,  df2['score'])

In [ ]:
!wget https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/stop_words.txt -P "/content/drive/My Drive/app"
with open('/content/drive/My Drive/app/stop_words.txt', "r") as file1:
    stopwords = file1.read()

--2021-01-11 12:47:21--  https://raw.githubusercontent.com/abdullah-al-jamil/Emotion-and-Sentiment-Analysis/main/stop_words.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10442 (10K) [text/plain]
Saving to: ‘/content/drive/My Drive/app/stop_words.txt’

stop_words.txt      100%[===================>]  10.20K  --.-KB/s    in 0s

2021-01-11 12:47:22 (116 MB/s) - ‘/content/drive/My Drive/app/stop_words.txt’ saved [10442/10442]

In [ ]:
def pre_process(sentence):
  #remove link
  sentence = re.sub(r'https?:\/\/.*[\r\n]*', '', sentence)
  sentence = re.sub(r'[^\u0980-\u09FF ]+', '', sentence)
  words = sentence.split()
  new_sentence = ''

  for word in words:
    if word not in stopwords:
      new_sentence += (word + " ")
  return new_sentence

sentences = []
temp_sentences = df3['text']

for i in temp_sentences:
  sentences.append(pre_process(i))

df3['text'] = sentences
df3.head()

     id                                  text  label  score lan       domain
1  2286  চাকিপ ক্যানের মুবি রিব্যু বেচি বেচি       1      0  BN  funny_video
2  2289            বাংলাদেশী এইটা সত্যি অবাক       1      0  BN  funny_video
3  2296                          সিমেনার চাই       1      0  BN  funny_video
8  2318                       হালা গোরা হালা       1     -1  BN  funny_video
9  2319                          সুপার দুপার       1      1  BN  funny_video

In [ ]:
labels = []
for i in df3['score']:
  labels.append(i)

y = np.array(labels)
print(type(y), y.shape)

<class 'numpy.ndarray'> (2797,)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df3.text, df3.score, test_size=0.2, shuffle=True)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [ ]:
X_train_count = v.fit_transform(X_train.values)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.5946428571428571

In [ ]:
pred = model.predict(X_test_count)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, pred, average='weighted')

0.569324657517484

In [ ]:
from sklearn.metrics import classification_report
classification_report(y_test, pred, average='micro')

              precision    recall  f1-score   support

          -1       0.59      0.84      0.69       251
           0       0.54      0.28      0.37       153
           1       0.66      0.50      0.57       156

    accuracy                           0.59       560
   macro avg       0.60      0.54      0.54       560
weighted avg       0.59      0.59      0.57       560